.link-hover {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: scale(0) translateY(100%);
        transition: all .25s;
    }

    &:hover {
        cursor: pointer;

        &::after {
            transform: scale(1) translateY(100%);
        }
    }
}

.h2-container {
    text-align: center;
    margin-bottom: 3em;
    color: $main-text;


    &__title {

        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        font-weight: 900;
        font-size: 2rem;
    }

    &__sub-title {
        max-width: 50%;
        display: block;
        margin: 1em auto 0;
        line-height: 1.5;
    }
}

.bold {
    font-weight: 700;
}

.mt15em {
    margin-top: 1.5em;
}

.dib {
    display: inline-block;
}

.dn {
    display: none;
}

.align-center {
    text-align: center;
}

.main-text-opacity {
    color: rgba(13, 22, 99, 0.637);
}

.path-icon-blue {
    fill: rgb(13, 22, 99);

}

.icon-width {
    max-width: 1em;
}

@media(max-width:616px) {
    .h2-container {
        &__title {
            max-width: 100%;
        }
        &__sub-title {
            max-width: 100%;
        }
    }
}
.fa-ruble-sign {
    font-size: calc(100% - 10%);
}