.btn-call {
    color: $main-text;
    background-color: transparent;
    margin-left: 0.75em;
}

.main-btn {
    background-image: linear-gradient(-93deg, #3ea5f9 0%, #295dff 100%);
    border-radius: 25px;
    width: 100%;
    color: rgba(255, 255, 255, 0.836);
    padding: .75em 0;
    transition: all .3s;

    &:hover {
        color: #fff;
        cursor: pointer;
        box-shadow: 0 0 16px 4px #3ea5f994;
        transform: scale(1.02);
        letter-spacing: .35px;
    }
}