.page-calc {
    padding: 5em 0;
}


.water {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;

    &__item {
        min-width: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
        background-color: #f3f3f3;
        border-radius: 5px;
        padding: 1.5em 1.5em;
        margin: 1em;
        flex-basis: 29%;
        outline: none;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 280px;
        transform: translateY(15%);

    }

    &__check-container {
        position: relative;
        align-self: center;
        display: flex;
        align-items: flex-start;
        margin: 1em 0;
        color: #000659;

    }

    &__checkbox {
        margin-right: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.45em;
    }

    &__btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__cost-container {
        font-size: 2rem;
    }

    .second-btn {
        margin-top: 0;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size: 1rem;
        flex-basis: 40%;
    }



    .slick-list {
        overflow: hidden;
        background-color: transperent;

    }

    .slick-track {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-width: 0;
        background-color: transperent;

    }

    .slick-arrow {
        font-size: 0;
    }



    .slick-next,
    .slick-prev {
        background-image: url(../img/icon/next_slider.svg);
        background-color: #fff;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        min-width: 25px;
        border: 5px solid #fff;
        box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .slick-prev {
        transform: translateX(-25%) rotate(-180deg);
    }

    .slick-next {
        transform: translateX(25%);
    }
}

.output-container1023 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    width: 100%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: .75em 0;
    border-radius: 5px;
    text-align: center;

    &__name {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
    }

    label {
        display: inline-block;
        font-size: 2rem;
        margin-top: 1em;
        font-weight: 700;
    }
}

.water-red {
    background-color: #e20c0e;
}

.water-green {
    background-color: #47bd4d;
}

.water-yellow {
    background-color: #f0b30d;
}

@media(min-width:1023px) {

    .output-container1023 {
        display: none;
    }
}



@media(max-width:1023px) {

    .water {

        &__item {
            box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
            margin: 6px auto;
            max-width: 550px;
        }

        &__checkbox {
            display: none;
        }
    }
}


@media(max-width:345px) {
    .water {
        &__btn-container {
            flex-direction: column;
        }

        &__cost-container {
            margin-bottom: .75em;
        }


    }
}


.output-descr {
    text-align: center;
    margin-top: 2em;

    &__link {
        color: $main-text;
        font-weight: 700;
        white-space: nowrap;
    }

    &__p {
        position: relative;
        max-width: 50%;
        margin: 0 auto;
        line-height: 1.7;
        color: $main-text;
        font-size: 1.2rem;



        &::after {
            content: '';
            position: absolute;
            display: block;
            right: 0;
            top: 0;
            transform: translate(100%, -100%);
            width: 226px;
            height: 166px;
            background-image: url(../img/range-grass.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    &__btn {
        margin-top: 2.5em;

        .main-btn {
            max-width: 270px;
            margin: 0 auto;
        }
    }
}

@media(max-width:1023px) {


    .output-descr {
        &__p {
            &::after {
                display: none;
            }
        }
    }
}

.water-name {
    color: rgba(255, 255, 255, 0.9);
    font-size: .95rem;
}

@media(max-width:768px) {

    .water {
        border-radius: 5px;
        box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
        padding: 10px;
        background-color: #f3f3f3;

        &__item {
            box-shadow: none;
        }
    }

    .output-descr {
        &__p {
            max-width: 100%;
        }

        &__link {
            display: block;
        }
    }
}



//мобильный калькулятор
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


[class^="quantity-block"] {
    margin: auto;
    font-size: 20px;
    margin-top: 1em;
}

[class^="quantity-arrow-minus-"],
[class^="quantity-arrow-plus-"] {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 12px;
    width: 40px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.884);
    box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.33);


}


[class^="quantity-arrow-plus"] {
    span {
        display: block;
        transform: translateY(-2.5%);
    }
}

[class^="quantity-arrow-minus-"] {
    span {
        display: block;
        transform: translateY(-9%);
    }
}

[class^="quantity-num"] {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    max-width: 50px;
    text-align: center;
    color: #fff;
}