//style
html,
body {
    height: 100%;
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 1.5;
}
.container {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 1.25em;
}

@media(max-width:768px) {
    html,
    body {
        font-size: 15px;
    }
}

@media(max-width:425px) {
    html,
    body {
        font-size: 12px;
    }

    .container {
        padding: 0 1em;
    }
}


@media(min-width:2480px) {
    html,
    body {
        font-size: 20px;
    }
}