.page-tabs {
    position: relative;
    padding: 4em 0;
    background-image: url(../img/bg-right-tabs.png);
    background-size: cover;
    background-position: 550px 50%;
    background-repeat: no-repeat;
    max-width: 100%;

    &__leaves {
        position: absolute;
        z-index: -1;
        width: 100%;
        max-width: 300px;
    }

    .tabs {
        margin-left: 0;
    }

    h2 {
        max-width: 50%;
    }

    .tabs__caption {
        justify-content: center;
    }

}


.tabs {
    &__about {
        display: flex;
        align-items: flex-start;
    }

    &__about-text {
        flex-basis: 100%;

        .tabs__p:first-child {
            margin-top: 0;
        }
    }

    &__list-about {
        display: flex;
        width: 100%;
        margin-top: 1.25em;
    }

    &__li-about {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        font-size: 1rem;
        flex-basis: 44%;


        img {
            transform: translateY(40%);
            margin-right: 0.25em;
        }

        .points-flex {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
    }

 

    &__about-img-div {
        margin-right: 1.5em;
        flex-basis: 100%;
    }

    &__p {
        font-size: 0.97rem;
    }
}

.color70 {
    color: rgba(13, 22, 99, .7);
}


@media(max-width:1024px) {
    .page-tabs {
        h2 {
            max-width: 100%;
        }
    }

    .tabs {
        &__about {
            flex-direction: column;
        }

        &__list-about {
            flex-direction: column;
            align-items: flex-start;

            li:not(:first-child) {
                margin-top: 1.5em;
            }
        }

       .ml20 {
           margin-left: 0;
       }

        &__li-about {
            margin-left: 20px;
        }

        &__about-text {
            order: 1;
            margin-top: 1em;
        }

        &__about-img-div {
            align-self: center;
        }
    }
}

.t-advantages {
    margin-top: 3em;
    display: flex;
    text-align: center;

    &__row {
        display: flex;
        padding: 0 -8px;
    }

    &__item {
        margin: 0 8px;
        flex-basis: 50%;

        span {
            display: inline-block;
            margin-top: .5em;
        }
    }

    &__icon {
        max-width: 50px;
    }

    &__title {
        line-height: 1.3;
    }

}

.fb60 {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width:1260px) {
    .t-advantages {
        flex-direction: column;
        align-items: center;

        &__row:not(:first-child) {
            margin-top: 2em;
        }


    }


    .fb60 {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:1186px) {
    .page-tabs {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        &__leaves {
            display: none;
        }
    }
}

@media(max-width:1024px) {
    .tabs {
        &__li-about {
            max-width: 100%;
        }
    }
}

@media(max-width:768px) {
    .page-tabs {
        background-position: 50% 50%;
    }
}

.points-flex {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-basis: 100%;

    &__title {
        position: relative;
        display: flex;
        align-items: flex-start;
        line-height: 1.3;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            background-image: url(../img/icon/elips.png);
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-120%, 50%);
        }
    }

    &__span {
        margin-top: .25em;
        max-width: 70%;
    }
}

@media(max-width:768px) {
    .tabs {
        &__li-about {
            margin-left: 0;
        }
    }

    .points-flex {
        &__title {
            &:after {
                display: none;
            }
        }
    }
}


@media(max-width:550px) {
    .points-flex {
        &__span {
            max-width: 100%;
        }
    }
}