.range-container {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	max-width: 970px;
	position: relative;
	color: $main-text;
}

.slider-money {
	position: absolute;
	display: flex;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: 3em;
}


.slider-cost {
	margin-bottom: 1em;
	text-align: left;
}

.slider-cost span {
	font-size: 24px;
}

.slider-money span {
	font-size: 16px;

}

.slider-cost span:first-child {
	margin-left: 37px;
}

.slider-money span:first-child {
	margin-left: 29px;
}

//2
.slider-cost span:nth-child(2) {
	margin-left: 37px;
}

.slider-money span:nth-child(2) {
	margin-left: 13px;
}

//2

//3
.slider-cost span:nth-child(3) {
	margin-left: 94px;
}

.slider-money span:nth-child(3) {
	margin-left: 68px;
}

//3

//4
.slider-cost span:nth-child(4) {
	margin-left: 196px;
}

.slider-money span:nth-child(4) {
	margin-left: 184px;
}

//4

//5
.slider-cost span:nth-child(5) {
	margin-left: 413px;
}

.slider-money span:nth-child(5) {
	margin-left: 402px;
}

//5
.slider {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	width: 970px;
	height: 18px;
}

.slider-dots {
	position: absolute;
	z-index: -1;
	left: 0;
	display: flex;
	transform: translateY(-15%);

	span {
		display: block;
		background-color: $main-text;
		transform: translateY(-15%);
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	span:first-child {
		margin-left: 35px;
	}

	span:nth-child(2) {
		margin-left: 42px;
	}

	span:nth-child(3) {
		margin-left: 95px;
	}

	span:nth-child(4) {
		margin-left: 208px;

	}

	span:nth-child(5) {
		margin-left: 428px;
	}
}


output {
	position: absolute;
	left: 50%;
	top: 300%;
	text-align: center;
	transform: translate(-50%, -15%);
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/water.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	font-size: 22px;
	color: #fff;
	
}

#fader {
	position: relative;
	left: 3px;
	width: 970px;
	height: 6px;
	background: $main-text;
	-webkit-appearance: none;
	outline: none;
	border-radius: 4px;
}

#fader::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #43ABE6;
	box-shadow: 0 0 2px #222;
}


.output-container {
	display: flex;
	justify-content: space-around;
	color: #fff;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: .75em 0;
	border-radius: 38px;
	text-align: center;
	margin-top: 8.5em;
	background-color: rgb(153, 153, 153);
}


@media(max-width:1023px) {

	.range-container,
	.output-container {
		display: none;
	}
}


