.range-container {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
	max-width: 970px;
	position: relative;
	color: $main-text;
}

.slider-money {
	position: absolute;
	display: flex;
	width: 100%;
	left: 0;
	top: 50%;
	margin-top: 3em;
}


.slider-cost {
	margin-bottom: 1em;
	text-align: left;
}

.slider-cost span {
	font-size: 24px;
}

.slider-money span {
	font-size: 16px;

}

.slider-cost span:first-child {
	margin-left: 40px;
}

.slider-money span:first-child {
	margin-left: 32px;
}

//2
.slider-cost span:nth-child(2) {
	margin-left: 37px;
}

.slider-money span:nth-child(2) {
	margin-left: 13px;
}

//2

//3
.slider-cost span:nth-child(3) {
	margin-left: 92px;
}

.slider-money span:nth-child(3) {
	margin-left: 68px;
}

//3

//4
.slider-cost span:nth-child(4) {
	margin-left: 192px;
}

.slider-money span:nth-child(4) {
	margin-left: 176px;
}

//4

//5
.slider-cost span:nth-child(5) {
	margin-left: 409px;
}

.slider-money span:nth-child(5) {
	margin-left: 399px;
}

//5
.slider {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	width: 970px;
	height: 18px;
}

.slider-dots {
	position: absolute;
	z-index: -1;
	left: 0;
	display: flex;
	transform: translateY(-15%);

	span {
		display: block;
		background-color: $main-text;
		transform: translateY(-15%);
		width: 15px;
		height: 15px;
		border-radius: 50%;
	}

	span:first-child {
		margin-left: 40px;
	}

	span:nth-child(2) {
		margin-left: 40px;
	}

	span:nth-child(3) {
		margin-left: 95px;
	}

	span:nth-child(4) {
		margin-left: 202px;

	}

	span:nth-child(5) {
		margin-left: 422px;
	}
}





.output-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: .75em 0;
	border-radius: 38px;
	text-align: center;
	margin-top: 4.5em;
	background-color: rgb(153, 153, 153);
	line-height: 1.5;
}


@media(max-width:1023px) {

	.range-container,
	.output-container {
		display: none;
	}
}




.rangeslider,
input[type='range'] {
	max-width: 970px;
	width: 100%;
	height: 7px !important;
	background-color: $main-text;
	border-radius: 5px;
}




.rangeslider__handle {
	position: absolute;
	top: 0;
	height: 42px;
	width: 42px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.2rem;
	line-height: 40px;
	background-image: linear-gradient(to top, #00abe6 0%, #8be1ff 100%);
	color: #fff;
	transform: translateY(-40%);



	&:after {
		background: 0;

	}

	&:hover {
		cursor: pointer;
	}
}

#label-cost {
	font-size: 1.8rem;
	font-weight: 700;
}

#label-num {
	font-size: 1.3rem;
}

.water-name {
	margin-left: 0.5em;
}