@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans';
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    padding: 0 1em;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .25em 0;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__link {
  font-weight: 700;
  color: rgba(13, 22, 99, 0.65);
  text-decoration: none;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.header__link:hover {
  cursor: pointer;
  color: #0d1663;
}

.header__burger {
  display: none;
}

.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em .75em;
  color: #0d1663;
  border: 1px dashed rgba(0, 6, 89, 0.164);
  border-radius: 25px;
}

.header__time .time {
  display: inline-block;
  margin-right: 5px;
}

.header__callback a {
  display: block;
  width: 100%;
  color: #0d1663;
  font-weight: 700;
}

.header__icon {
  max-width: 18px;
  margin-right: 5px;
}

.icon-width {
  margin-right: 5px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.header.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.logo-img {
  max-width: 75px;
  width: 100%;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1170px) {
  .header__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .logo-img {
    max-width: 50px;
    max-height: 60px;
    width: 100%;
  }
}

@media (max-width: 920px) {
  .header__list {
    position: fixed;
    z-index: 1000;
    -webkit-transition: .4s;
    transition: .4s;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .header__menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .btn-call {
    margin: 0;
  }
  .menu_active {
    right: 0;
  }
  .header__burger {
    display: block;
    position: fixed;
    z-index: 1100;
    height: 25px;
    right: 25px;
    width: 25px;
  }
  .header__burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #0d1663;
  }
  .header__burger span:not(first-child) {
    margin-top: 3px;
  }
  .burger_active span {
    margin-bottom: -10px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 8px;
  }
}

.bgc-fff {
  background-color: rgba(255, 255, 255, 0.95);
}

.bgc-fff.bgc-fff-no {
  background-color: transparent;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("font/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("font/MYRIADPRO-COND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed Italic"), url("font/MYRIADPRO-CONDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Light"), url("font/MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("font/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold Italic"), url("font/MYRIADPRO-SEMIBOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("font/MYRIADPRO-BOLDCOND.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("font/MYRIADPRO-BOLD.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Italic"), url("font/MYRIADPRO-BOLDIT.woff") format("woff");
}

@font-face {
  font-family: 'Myriad Pro Bold Condensed Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed Italic"), url("font/MYRIADPRO-BOLDCONDIT.woff") format("woff");
}

.myriad {
  font-family: 'Myriad Pro Bold';
}

.popup {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em .75em;
}

.popup__content {
  position: relative;
  background-color: #fff;
  color: #000;
  width: 100%;
  max-width: 720px;
  padding: 2em .75em;
  -webkit-transform: translate(0px, 25%);
          transform: translate(0px, 25%);
  -webkit-transition: all .5s;
  transition: all .5s;
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 1em auto 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup__input {
  margin-top: 1.5em;
  border: 1px solid #1b1b1b;
  border-radius: 25px;
  padding-left: 1.25em;
  height: 40px;
  outline: none;
  width: 100%;
}

.popup__input:focus {
  border-color: rgba(0, 171, 230, 0.96);
}

.popup__textarea {
  margin-top: 1.5em;
  border: 1px solid #1b1b1b;
  border-radius: 25px;
  padding-left: 1.25em;
  padding-top: .75em;
  padding-bottom: 1.5em;
  outline: none;
  resize: none;
}

.popup__textarea:focus {
  border-color: rgba(0, 171, 230, 0.96);
}

.popup__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5em;
}

.popup__row .popup__input:first-child {
  margin-right: 0.25em;
}

.popup__row .popup__input {
  margin-top: 0;
}

.popup__bottle-div {
  width: 100%;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.popup__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}

.popup__flex-container .output-container1023__output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -.25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #da0201;
}

.popup__flex-container .output-container1023 label {
  margin-top: 0.5em;
}

.popup__more-img {
  width: 100%;
  max-width: 220px;
}

@media (max-width: 425px) {
  .popup__flex-container {
    padding: 0;
  }
}

body.lock {
  overflow: hidden;
}

.fb60 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.fb40 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  opacity: 1;
}

#popup .popup__content {
  background-image: url(../img/bg-left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -5em -5em;
}

#popup .popup__content .main-btn {
  max-width: 100%;
}

.popup_order .popup__content {
  background-image: url(../img/bg-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% -89%;
}

@media (max-width: 425px) {
  .popup_order .popup__content {
    background-position: 50% 0%;
  }
}

#popup_more .output-container1023 {
  display: block;
  color: #0d1663;
}

#popup_more .output-container1023 [class^=quantity-num] {
  color: #000;
}

#popup_more .popup__content {
  max-width: 950px;
  background-image: url(../img/bg-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150% 50%;
}

.table-structure-inner {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
  margin-top: 1em;
}

.table-structure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  width: 100%;
}

.table-structure__h4 {
  margin: 1em 0;
  color: #0d1663;
  text-align: center;
}

.table-structure__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  width: 100%;
}

.table-structure__row:first-child .table-structure__item {
  border-top: none;
}

.table-structure__row:last-child .table-structure__item {
  border-bottom: none;
}

.table-structure__row:nth-child(2) .table-structure__item {
  border-bottom: none;
}

.table-structure__row:nth-child(4) .table-structure__item {
  border-top: none;
}

.table-structure__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border: 1px solid #c9c9c9;
  padding: 0.75em .5em;
}

.table-structure__item:first-child {
  border-left: none;
}

.table-structure__item:last-child {
  border-right: none;
}

@media (max-width: 916px) {
  .popup__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #popup_more .popup__content {
    background-position: 100% -1%;
  }
}

#popup_order .main-btn {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
}

#popup_order .main-btn__span {
  -webkit-transform: 0;
          transform: 0;
}

.tabs__content {
  display: none;
  min-height: 500px;
  min-width: 100%;
  /* по умолчанию прячем все блоки */
}

.tabs__content.active {
  display: block;
  /* по умолчанию показываем нужный блок */
}

.tabs {
  text-align: left;
  margin-left: 3em;
  margin-top: 2em;
  overflow: auto;
  width: 100%;
  color: #0d1663;
}

.tabs__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2em;
  position: -webkit-sticky;
  position: sticky;
}

.tabs__link {
  border: 1px solid transparent;
  padding: 0.5em 2em;
  border-radius: 25px;
  color: #3c3f81c0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tabs__link:hover {
  cursor: pointer;
  border-color: #3c3f81;
  color: #3c3f81;
}

.tabs__link.active {
  color: #3c3f81;
  border: 1px solid #3c3f81;
}

.tabs__title {
  color: #0d1663;
  text-align: left;
  font-size: 1.4rem;
}

.tabs__p {
  color: #0d1663;
  margin-top: .75em;
}

.tabs__list {
  color: #0d1663;
  list-style-type: disc;
  margin-left: 1.2em;
}

.tabs__li {
  margin-top: 0.5em;
}

@media (max-width: 916px) {
  .tabs {
    margin-left: 0;
  }
  .tabs__content {
    min-height: 100%;
  }
}

.t-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-hover {
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transform: scale(0) translateY(100%);
          transform: scale(0) translateY(100%);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.link-hover:hover {
  cursor: pointer;
}

.link-hover:hover::after {
  -webkit-transform: scale(1) translateY(100%);
          transform: scale(1) translateY(100%);
}

.h2-container {
  text-align: center;
  margin-bottom: 3em;
  color: #0d1663;
}

.h2-container__title {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  font-weight: 900;
  font-size: 2rem;
}

.h2-container__sub-title {
  max-width: 50%;
  display: block;
  margin: 1em auto 0;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}

.mt15em {
  margin-top: 1.5em;
}

.dib {
  display: inline-block;
}

.dn {
  display: none;
}

.align-center {
  text-align: center;
}

.main-text-opacity {
  color: rgba(13, 22, 99, 0.637);
}

.path-icon-blue {
  fill: #0d1663;
}

.icon-width {
  max-width: 1em;
}

@media (max-width: 616px) {
  .h2-container__title {
    max-width: 100%;
  }
  .h2-container__sub-title {
    max-width: 100%;
  }
}

.fa-ruble-sign {
  font-size: calc(100% - 10%);
}

.btn-call {
  color: #0d1663;
  background-color: transparent;
  margin-left: 0.75em;
  outline: none;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 350px;
  background-image: linear-gradient(-93deg, #3ea5f9 0%, #295dff 100%);
  border-radius: 25px;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  padding: .5em 0;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-btn__img {
  max-width: 30px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  fill: #fff;
  margin-right: .75em;
}

.main-btn__span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translateX(1.125em);
          transform: translateX(1.125em);
  text-align: center;
}

.main-btn .path-main-btn {
  fill: rgba(255, 255, 255, 0.7);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-btn:hover {
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 16px 4px #3ea5f952;
          box-shadow: 0 0 16px 4px #3ea5f952;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  letter-spacing: .35px;
}

.main-btn:hover .path-main-btn {
  fill: white;
}

.second-btn {
  display: block;
  width: 100%;
  max-width: 260px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0d1663;
  padding: 0.5em 0;
  border-radius: 25px;
  text-align: center;
  color: #0d1663;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.second-btn:hover {
  background-color: #43ABE6;
  border-color: #43ABE6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  letter-spacing: .45px;
  color: #fff;
  -webkit-box-shadow: 0 0 16px 4px rgba(67, 170, 230, 0.288);
          box-shadow: 0 0 16px 4px rgba(67, 170, 230, 0.288);
}

.page-1 {
  position: relative;
  height: 100%;
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% 100%;
  padding-bottom: 2em;
  padding-top: 4em;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  height: 100%;
}

.header-content__item:first-child {
  position: relative;
  z-index: 5;
  height: 100%;
}

.header-content__item:last-child {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header-content__title {
  font-size: 2.9rem;
  color: #0d1663;
  letter-spacing: .025em;
  font-weight: 700;
  line-height: 1.4;
}

.header-content__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5em;
  color: #070707;
  font-weight: 700;
}

.header-content__profit-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__profit-item:last-child {
  margin-left: 2em;
}

.header-content__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content__cost .cost-red {
  font-size: 3.5rem;
  color: #da0201;
  line-height: .9;
}

.header-content__cost .cost-old {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: .75px;
  margin-bottom: 0.5em;
  color: #4a4a4a;
}

.header-content__cost .cost-old::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-12%, -50%) rotate(-16deg);
          transform: translate(-12%, -50%) rotate(-16deg);
  display: block;
  width: 46%;
  height: 1px;
  background-color: #4a4a4a;
}

.header-content__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 3em;
}

.header-content__btn-container .main-btn {
  margin-left: 2em;
  max-width: 200px;
}

.header-content__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  max-width: 780px;
  right: 2em;
  bottom: 0;
}

@media (min-width: 1440px) {
  .header-content__img {
    max-width: 900px;
  }
}

@media (min-width: 1620px) {
  .header-content__img {
    max-width: 900px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    right: 40%;
  }
}

@media (max-width: 1130px) {
  .header-content__img {
    max-width: 700px;
  }
}

@media (max-width: 980px) {
  .header-content__img {
    max-width: 600px;
    right: 0;
  }
}

@media (max-width: 922px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content__item:first-child {
    margin-top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 768px) {
  .header-content__img {
    max-width: 420px;
  }
}

@media (max-width: 700px) {
  .header-content__img {
    max-width: 350px;
  }
}

@media (max-width: 550px) {
  .header-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__img {
    max-width: 250px;
  }
  .header-content__item:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .header-content__img {
    display: block;
    margin-left: auto;
    width: 100%;
  }
}

.cost-red {
  color: #da0201;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cost-red:hover {
  color: #fe1110;
}

@media (max-width: 375px) {
  .header-content__title {
    font-size: 2.4rem;
  }
  .header-content__cost .cost-red {
    font-size: 2.6rem;
    color: #da0201;
    line-height: .9;
  }
  .header-content__btn-container .main-btn {
    margin-left: auto;
  }
}

.range-container {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  max-width: 1100px;
  position: relative;
  color: #0d1663;
}

.slider-money {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: 3em;
}

.slider-cost {
  margin-bottom: 1em;
  text-align: left;
}

.slider-cost span {
  font-size: 24px;
}

.slider-money span {
  font-size: 16px;
}

.slider-cost span:first-child {
  margin-left: 45px;
}

.slider-money span:first-child {
  margin-left: 34px;
}

.slider-cost span:nth-child(2) {
  margin-left: 43px;
}

.slider-money span:nth-child(2) {
  margin-left: 19px;
}

.slider-cost span:nth-child(3) {
  margin-left: 108px;
}

.slider-money span:nth-child(3) {
  margin-left: 86px;
}

.slider-cost span:nth-child(4) {
  margin-left: 222px;
}

.slider-money span:nth-child(4) {
  margin-left: 210px;
}

.slider-cost span:nth-child(5) {
  margin-left: 468px;
}

.slider-money span:nth-child(5) {
  margin-left: 457px;
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  width: 1100px;
  height: 18px;
}

.slider-dots {
  position: absolute;
  z-index: -1;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-16%);
          transform: translateY(-16%);
}

.slider-dots span {
  display: block;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00003c), to(#012c84));
  background-image: linear-gradient(to top, #00003c 0%, #012c84 100%);
  -webkit-transform: translateY(-15.5%);
          transform: translateY(-15.5%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.slider-dots span:first-child {
  margin-left: 44px;
}

.slider-dots span:nth-child(2) {
  margin-left: 49px;
}

.slider-dots span:nth-child(3) {
  margin-left: 110px;
}

.slider-dots span:nth-child(4) {
  margin-left: 235px;
}

.slider-dots span:nth-child(5) {
  margin-left: 482px;
}

.output-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: .5em 0;
  border-radius: 38px;
  text-align: center;
  margin-top: 4.5em;
  background-color: #999999;
  line-height: 1.5;
}

@media (max-width: 1023px) {
  .range-container,
  .output-container {
    display: none;
  }
}

.rangeslider,
input[type='range'] {
  max-width: 1100px;
  width: 100%;
  height: 5px !important;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00003c), to(#012c84));
  background-image: linear-gradient(to top, #00003c 0%, #012c84 100%);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.rangeslider__handle {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 40px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00abe6), to(#8be1ff));
  background-image: linear-gradient(to top, #00abe6 0%, #8be1ff 100%);
  color: #fff;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.rangeslider__handle:after {
  background: 0;
}

.rangeslider__handle:hover {
  cursor: pointer;
}

#label-cost {
  font-size: 1.8rem;
  font-weight: 700;
}

#label-num {
  font-size: 1.3rem;
}

.water-name {
  margin-left: 0.5em;
}

.page-calc {
  padding: 5em 0;
}

.water {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
}

.water__item {
  min-width: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
          box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
  background-color: #f3f3f3;
  border-radius: 5px;
  padding: 2em 1.5em;
  margin: 1em;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  outline: none;
}

.water__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 150px;
}

.water__check-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1em 0 .5em;
  color: #000659;
}

.water__h3 {
  font-size: 1.2rem;
  white-space: nowrap;
}

.water__checkbox {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.45em;
}

.water__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.water__cost-container {
  font-size: 2rem;
}

.water .second-btn {
  margin-top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 1rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.water .slick-list {
  overflow: hidden;
  background-color: transperent;
}

.water .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-width: 0;
  background-color: transperent;
}

.water .slick-arrow {
  font-size: 0;
}

.water .slick-next,
.water .slick-prev {
  background-image: url(../img/icon/next_slider.svg);
  background-color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  min-width: 25px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
          box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.water .slick-prev {
  -webkit-transform: translateX(-25%) rotate(-180deg);
          transform: translateX(-25%) rotate(-180deg);
}

.water .slick-next {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.output-container1023 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: .75em 0;
  border-radius: 5px;
  text-align: center;
}

.output-container1023__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
}

.output-container1023 label {
  display: inline-block;
  font-size: 2rem;
  margin-top: 1em;
  font-weight: 700;
}

.water-red {
  background-color: #e20c0e;
}

.water-green {
  background-color: #47bd4d;
}

.water-yellow {
  background-color: #f0b30d;
}

@media (min-width: 1023px) {
  .output-container1023 {
    display: none;
  }
}

@media (max-width: 1023px) {
  .water__item {
    -webkit-box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
            box-shadow: 0 0 4px 2px rgba(22, 24, 24, 0.22);
    margin: 6px auto;
    max-width: 550px;
  }
  .water__checkbox {
    display: none;
  }
}

@media (max-width: 345px) {
  .water__btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .water__cost-container {
    margin-bottom: .75em;
  }
}

.output-descr {
  text-align: center;
  margin-top: 2em;
}

.output-descr__link {
  color: #0d1663;
  font-weight: 700;
  white-space: nowrap;
}

.output-descr__p {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  line-height: 1.7;
  color: #0d1663;
  font-size: 1.2rem;
}

.output-descr__p::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  -webkit-transform: translate(100%, -45%);
          transform: translate(100%, -45%);
  width: 226px;
  height: 166px;
  background-image: url(../img/range-grass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.output-descr__btn {
  margin-top: 2.5em;
}

.output-descr__btn .main-btn {
  max-width: 270px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .output-descr__p::after {
    display: none;
  }
}

.water-name {
  color: rgba(255, 255, 255, 0.9);
  font-size: .95rem;
}

@media (max-width: 768px) {
  .water {
    border-radius: 5px;
    -webkit-box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
            box-shadow: 3px 2px 24px rgba(22, 24, 24, 0.22);
    padding: 10px;
    background-color: #f3f3f3;
  }
  .water__item {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .output-descr__p {
    max-width: 100%;
  }
  .output-descr__link {
    display: block;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

[class^="quantity-block"] {
  margin: auto;
  font-size: 20px;
  margin-top: 1em;
}

[class^="quantity-arrow-minus-"],
[class^="quantity-arrow-plus-"] {
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  padding: 5px 12px;
  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.884);
  -webkit-box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.33);
          box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.33);
}

[class^="quantity-arrow-plus"] span {
  display: block;
  -webkit-transform: translateY(-2.5%);
          transform: translateY(-2.5%);
}

[class^="quantity-arrow-minus-"] span {
  display: block;
  -webkit-transform: translateY(-9%);
          transform: translateY(-9%);
}

[class^="quantity-num"] {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
  max-width: 50px;
  text-align: center;
  color: #fff;
}

.page-catalog {
  background-color: #f4f5fe;
  padding: 4.75em 0 5em;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item:nth-child(2) {
  margin: 0 10em;
}

.catalog__link {
  display: block;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__span {
  margin-left: 1em;
  font-weight: 700;
  font-size: 1.2rem;
  color: #0d1663;
}

.catalog__img {
  width: 100%;
  max-width: 120px;
}

@media (max-width: 1000px) {
  .catalog__item:nth-child(2) {
    margin: 0 5em;
  }
}

@media (max-width: 768px) {
  .catalog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog__item:not(:first-child) {
    margin-top: 3.5em;
  }
  .catalog__item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

.water__checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
}

.water__checkbox input {
  width: 0;
  height: 0;
  opacity: 0;
}

.water__checkbox label > span {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #9e9e9e;
  margin-right: 15px;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.13);
          box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.13);
}

.water__checkbox input:checked + label > span {
  border: 10px solid #fff;
  -webkit-animation: bounce 250ms;
          animation: bounce 250ms;
}

.water__checkbox input:checked + label > span::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-animation: checked-box 125ms 250ms forwards;
          animation: checked-box 125ms 250ms forwards;
}

@-webkit-keyframes checked-box {
  0% {
    width: 0;
    height: 0;
    border-color: #0d1663;
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  33% {
    width: 4px;
    height: 0;
    border-color: #0d1663;
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #0d1663;
    -webkit-transform: translate(0, -8px) rotate(45deg);
            transform: translate(0, -8px) rotate(45deg);
  }
}

@keyframes checked-box {
  0% {
    width: 0;
    height: 0;
    border-color: #0d1663;
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  33% {
    width: 4px;
    height: 0;
    border-color: #0d1663;
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #0d1663;
    -webkit-transform: translate(0, -8px) rotate(45deg);
            transform: translate(0, -8px) rotate(45deg);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  33% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  z-index: 2;
  font-size: 16px;
  width: 230px;
  height: 40px;
  border: 1px solid #1b1b1b;
  border-radius: 25px;
  padding: .5em 0;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: .5em 15px;
  border-radius: 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #1b1b1b transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-styled:hover {
  background-color: #fafafa;
}

.select-styled:active, .select-styled.active {
  background-color: #f2f2f2;
  z-index: 500;
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #1b1b1b transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 96%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 85%;
  background-color: #f2f2f2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #e6e6e6;
}

.select-options li:hover {
  color: #0d1663;
}

.select-options li[rel="hide"] {
  display: none;
}

.page-tabs {
  position: relative;
  padding: 4em 0;
  background-image: url(../img/bg-right-tabs.png);
  background-size: contain;
  background-position: 520px 50%;
  background-repeat: no-repeat;
  max-width: 100%;
}

.page-tabs__leaves {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 300px;
}

.page-tabs .tabs {
  margin-left: 0;
}

.page-tabs h2 {
  max-width: 50%;
}

.page-tabs .tabs__caption {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabs__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tabs__about-text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.tabs__about-text .tabs__p:first-child {
  margin-top: 0;
}

.tabs__list-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25em;
}

.tabs__li-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
}

.tabs__li-about img {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin-right: 0.25em;
}

.tabs__li-about:nth-child(2) {
  margin: 0 0.5em;
}

.tabs__about-img-div {
  margin-right: 1.5em;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media (max-width: 1024px) {
  .page-tabs h2 {
    max-width: 100%;
  }
}

.t-advantages {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.t-advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 -8px;
}

.t-advantages__item {
  margin: 0 8px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.t-advantages__item span {
  display: inline-block;
  margin-top: 1em;
}

.t-advantages__icon {
  max-width: 50px;
}

.t-advantages__title {
  line-height: 1.5;
}

.fb60 {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1260px) {
  .t-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .t-advantages__row:not(:first-child) {
    margin-top: 2em;
  }
  .fb60 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1186px) {
  .page-tabs {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .page-tabs__leaves {
    display: none;
  }
}

@media (max-width: 768px) {
  .page-tabs {
    background-position: 50% 50%;
  }
}

.page-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map {
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.map__descr {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  padding: 15px;
  z-index: 2;
  max-width: 100%;
  background-color: white;
  font-size: 0.9rem;
  -webkit-box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.13);
          box-shadow: 1px 1px 13px rgba(22, 24, 24, 0.13);
  color: #0d1663;
}

.popup-map {
  position: relative;
  text-align: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 5px;
  margin: auto;
  color: #0d1663;
}

.popup-map::after {
  content: '';
  position: absolute;
  z-index: 10;
  right: -1%;
  bottom: -20%;
  width: 100px;
  height: 80px;
  background-image: url(../img/range-grass.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.popup-map .popup__title {
  font-size: 2rem;
  margin-bottom: 15px;
}

@media (max-width: 1023px) {
  .page-map {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 1em 0;
  }
  .map {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .popup-map {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 550px;
    margin-bottom: 2em;
  }
  .popup-map::after {
    bottom: 0;
  }
}

@media (max-width: 615px) {
  .popup-map::after {
    display: none;
  }
}

.footer {
  padding: .5em 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  text-align: center;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .25em 0;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__menu {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer__link {
  font-weight: 700;
  color: rgba(13, 22, 99, 0.65);
  text-decoration: none;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.footer__link:hover {
  cursor: pointer;
  color: #0d1663;
}

.footer__burger {
  display: none;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em .75em;
  color: #0d1663;
  border: 1px dashed rgba(0, 6, 89, 0.164);
  border-radius: 25px;
}

.footer__time .time {
  display: inline-block;
  margin-right: 5px;
}

.footer__callback a {
  display: block;
  width: 100%;
  color: #0d1663;
  font-weight: 700;
}

.footer__icon {
  max-width: 18px;
  margin-right: 5px;
}

.icon-width {
  margin-right: 5px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.footer.out {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.logo-img {
  max-width: 75px;
  width: 100%;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1170px) {
  .footer__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__link {
    display: inline-block;
    margin: 20px 5px;
  }
}

@media (max-width: 768px) {
  .logo-img {
    max-width: 50px;
    max-height: 60px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */