* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 1.25em;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (min-width: 2480px) {
  html,
  body {
    font-size: 20px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  text-align: center;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: .75em 0;
}

.header__logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__link {
  font-weight: 700;
  color: rgba(13, 22, 99, 0.65);
  text-decoration: none;
  -webkit-transition: all .45s;
  transition: all .45s;
}

.header__link:hover {
  cursor: pointer;
  color: #0d1663;
}

.header__burger {
  display: none;
}

.header__contacts {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__time {
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5em .35em;
  color: #0d1663;
  border: 1px dashed #000659;
  border-radius: 25px;
}

@media (max-width: 1170px) {
  .header__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__callback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-img {
  max-width: 7em;
  width: 100%;
  margin-right: auto;
}

@media (max-width: 920px) {
  .header__list {
    position: fixed;
    z-index: 1000;
    -webkit-transition: .8s;
    transition: .8s;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .btn-call {
    margin: 0;
  }
  .menu_active {
    right: 0;
  }
  .header__logo {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .header__burger {
    display: block;
    position: fixed;
    z-index: 1100;
    height: 25px;
    right: 25px;
    width: 25px;
  }
  .header__burger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #0d1663;
  }
  .header__burger span:not(first-child) {
    margin-top: 3px;
  }
  .burger_active span {
    margin-bottom: -10px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .burger_active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger_active span:nth-child(2) {
    display: none;
  }
  .burger_active span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: 8px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.link-hover {
  position: relative;
}

.link-hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  -webkit-transform: scale(0) translateY(100%);
          transform: scale(0) translateY(100%);
  -webkit-transition: all .25s;
  transition: all .25s;
}

.link-hover:hover {
  cursor: pointer;
}

.link-hover:hover::after {
  -webkit-transform: scale(1) translateY(100%);
          transform: scale(1) translateY(100%);
}

.bold {
  font-weight: 700;
}

.btn-call {
  color: #0d1663;
  background-color: transparent;
  margin-left: 0.75em;
}

.main-btn {
  background-image: linear-gradient(-93deg, #3ea5f9 0%, #295dff 100%);
  border-radius: 25px;
  width: 100%;
  color: rgba(255, 255, 255, 0.836);
  padding: 1em 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.main-btn:hover {
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 16px 4px #3ea5f994;
          box-shadow: 0 0 16px 4px #3ea5f994;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  letter-spacing: .35px;
}

.page-1 {
  position: relative;
  height: 65vh;
  min-height: 550px;
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  height: 100%;
}

.header-content__item:first-child {
  margin-top: 5%;
  position: relative;
  z-index: 5;
  height: 100%;
}

.header-content__item:last-child {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header-content__title {
  font-size: 2.9rem;
  color: #0d1663;
  letter-spacing: .04em;
  font-weight: 700;
}

.header-content__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
}

.header-content__profit-item:last-child {
  margin-left: 2em;
}

.header-content__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content__cost .cost-red {
  font-size: 3.5rem;
  color: #da0201;
  line-height: .9;
}

.header-content__cost .cost-old {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: .75px;
  margin-bottom: 0.5em;
}

.header-content__cost .cost-old::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-15%, -50%) rotate(-20deg);
          transform: translate(-15%, -50%) rotate(-20deg);
  display: block;
  width: 40%;
  height: 1px;
  background-color: #000;
}

.header-content__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 3em;
}

.header-content__btn-container .main-btn {
  margin-left: 2em;
  max-width: 280px;
}

.header-content__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  max-width: 70%;
  right: 0;
  bottom: 0;
}

@media (min-width: 1440px) {
  .header-content__img {
    max-width: 60%;
  }
}

@media (min-width: 1620px) {
  .header-content__img {
    max-width: 50%;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@media (max-width: 922px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-content__item:first-child {
    margin-top: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 550px) {
  .header-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content__item:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .header-content__img {
    display: block;
    margin-left: auto;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .header-content__title {
    font-size: 2.4rem;
  }
}
/*# sourceMappingURL=style.css.map */